{% extends "base.html" %} {% block content %}
<h1>Álbum de Fotos</h1>
<a href="{{ url_for('add_photo') }}" class="btn btn-primary mb-3"
  >Agregar Foto</a
>

<h2>Fotos Agregadas</h2>

<div class="photo-gallery">
  {% for photo in photos %}
  <div class="photo-item">
    <div class="card" style="width: 18rem">
      <img
        src="{{ url_for('static', filename='uploads/' + photo.image) }}"
        alt="{{ photo.title }}"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
        <p class="card-text">{{ photo.description }}</p>
        <a
          href="{{ url_for('delete_photo', id=photo.id) }}"
          class="btn btn-danger"
          >Eliminar</a
        >
        <a
          href="{{ url_for('edit_photo', id=photo.id) }}"
          class="btn btn-warning"
          >Actualizar</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
