{% extends "base.html" %} {% block content %}
<h1>{{ title }}</h1>

<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.title.label }} {{ form.title(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.description.label }} {{ form.description(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.image.label }} {{ form.image(class="form-control") }}
  </div>

  <!-- Botón de acción: Agregar o Actualizar -->
  <button type="submit" class="btn btn-primary">
    {% if title == "Editar Foto" %} Actualizar {% else %} Agregar Foto {% endif
    %}
  </button>
</form>
{% endblock %}
